<div class="title">
  <h1>Ver Mascota</h1>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-title>Bartolo</mat-card-title>
    <mat-card-content>
        <p><strong>Raza: </strong>Labrador</p>
        <p><strong>Color: </strong>Marrón</p>
        <p><strong>Peso: </strong>25lb</p>
        <p><strong>Edad: </strong>5</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button routerLink="/listMascotas" style="margin: 10px auto">Volver</button>
    </mat-card-actions>
  </mat-card>
</div>
